.row{
    padding: 15px;
}
div{
    background-color: rgb(27, 32, 48);
    color: beige;
    text-align: center;
}
#nombre{
    font-size: 17px;
    font-weight: bold;
    margin-top: 20%;
    margin-left: 5px;
}
@media (min-width: 576px){
    #fotoperfil {
        position: absolute;
        width: 11%;
        border-radius: 5%;
        box-shadow: 3px 3px 3px rgb(14, 13, 13);
        left: 4%;
        top: 350px;
    }
}
@media (max-width: 575px){
    #fotoperfil {
        position: absolute;
        width: 25%;
        border-radius: 5%;
        box-shadow: 3px 3px 3px rgb(14, 13, 13);
        left: 37%;
        top: 390px;
    }
}