<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul> 
           <li><h2>Facultad de Educacion y Salud (I.P.E.F) </h2> <br><h4>Profesorado de Educacion Fisica</h4></li>
           <p>Recibido año 2021</p>
           <li><h2>Instituto Superior Santo Domingo</h2> <br><h4>Tecnico Analista en Sistemas de Computacion</h4></li>
           <p>Cursando 3 semestre.</p>
           <li><h2>Argentina Programa</h2> <br><h4>Full Stack Junior</h4></li>
           <p>Cursando</p>
        </ul>
    </div>
</div>

