<div class="row">
    <h3>Soft y Hard Skills</h3>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [title]="'CSS'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2500"
        [titleColor]="'beige'"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [title]="'ANGULAR'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2500"
        [titleColor]="'beige'"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [title]="'CSS'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2500"
        [titleColor]="'beige'"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [title]="'JAVASCRIPT'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2500"
        [titleColor]="'beige'"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [title]="'JAVA'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2500"
        [titleColor]="'beige'"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress
        [percent]="80"
        [radius]="80"
        [title]="'HTML'"
        [titleColor]="'beige'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="7"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2500"
></circle-progress>
    </div>
</div>