<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nicolas Martino </p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acercade">
        <span> <h3> Acerca de mi</h3></span>
        <p>Responsable, de caracter dinamico y creativo. <br> Con facilidad de adaptacion  y capacidad de trabajo en equipo. <br>
        Siempre me gustaron las computadoras y todo lo que se podia hacer/crear a travez de ellas. <br> Me gusta mucho
    la programacion y actualmente estoy estudiando la carrera <br> de Tecnico Analista en Sistemas de computacion.</p>
    </div>
</div>
